body{
    background-image: url(../img/classic-burgers-u.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container{
    width:960px;
    margin: 0 auto;
}

h3{
    background-color: rgb(179, 196, 87);
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgb(134, 122, 122);
    padding:10px;
}

#bur{
    height:100px;
    width:400px;
    border: 1px solid black;
    padding:20px;
    background-color: white;
}

#textarea1{
    height: 50px;
    width:200px;
    border: 1px solid black;
    margin-bottom:0;
    background-color: white;
}

.waves-effect {
    margin:20px;
}

button{
    padding:10px;
    border-radius: 3px;
    width:100px;
    background-color: rgb(11, 179, 179);
    color:white;
}

p{
    color:white;
}

@media screen and (max-width:670px){
    #textarea1{
     margin-left:0;
}
}